{% extends 'DinoBundle::base.html.twig' %}

{% block content %}
<div class="container-fluid bg-grey" >
    <div class="row text-center right" style="text-align: center; margin-top: 15px;">
        <h1>Posts list</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% if paginatedCollection != null %}
            {% for post in paginatedCollection %}
                <tr>
                    <td><a href="{{ path('blog_post_show', { 'slug': post.slug }) }}">{{ post.id }}</a></td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('blog_post_show', { 'slug': post.slug }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('blog_post_edit', { 'slug': post.slug }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
                {{ pagerfanta(paginatedCollection) }}
            {% else %}
                <h4>Aktualnie nie ma żadnych postów</h4>
            {% endif %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('blog_post_new') }}">Create a new post</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
