{% extends 'DinoBundle::base.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block content %}
<div class="container-fluid bg-grey" >
    <div class="row text-center right" style="text-align: center; margin-top: 15px;">
        <h1>Post</h1>

        <table>
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ post.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ post.title }}</td>
                </tr>
                <tr>
                    <th>Body</th>
                    <td>{{ post.body }}</td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('blog_post_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('blog_post_edit', { 'slug': post.slug }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
</div>

{% endblock %}
